{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<style>
  body {
    font-family: "Arial", sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
  }

  h1 {
    text-align: center;
    color: #000000;
  }

  form {
    margin-bottom: 20px;
  }

  .card {
    margin-bottom: 20px;
    transition: background-color 0.3s;
  }

  .card:hover {
    background-color: #e2e6ea;
  }

  .card-header {
    background-color: #2e2a2b;
    color: #fff;
  }

  .card-body {
    padding: 15px;
  }

  .card-text {
    font-size: 16px;
  }

  .card-footer {
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
  }

  .btn-info {
    background-color: #ffffff;
    border-color: #ffffff;
  }

  .btn-info:hover {
    background-color: #ffffff;
    border-color: #ffffff;
  }

  .btn-dark {
    background-color: #343a40;
    border-color: #343a40;
  }

  .btn-dark:hover {
    background-color: #292b2c;
    border-color: #292b2c;
  }

  .btn-success {
    background-color: #d6614f;
    border-color: #ffffff;
  }

  .btn-success:hover {
    background-color: #8e3a2d;
    border-color: #ffffff;
  }

  .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }
</style>

<h1>Posts</h1>

<form method="POST" class="mb-3">
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      name="location"
      placeholder="Search by Location"
    />
    <button type="submit" class="btn btn-dark">Search</button>
  </div>
</form>

<div id="posts">
  {% for post in posts %}
  <div class="card border-dark">
    <div class="card-header d-flex justify-content-between align-items-center">
      <a
        href="/posts/{{post.user.username}}"
        style="text-decoration: none; color: inherit"
      >
        @{{post.user.username}}
      </a>
      <div>
        <span id="likes-count-{{post.id}}"> {{ post.likes|length }}</span>
        {% if user.id in post.likes|map(attribute="author")|list %}
        <i
          class="fa-solid fa-heart"
          id="like-button-{{post.id}}"
          onclick="like({{post.id}})"
        ></i>
        {% else %}
        <i
          class="fa-regular fa-heart"
          id="like-button-{{post.id}}"
          onclick="like({{post.id}})"
        ></i>
        {% endif %} {% if user.id == post.author %}
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-sm btn-info dropdown-toggle"
            data-bs-toggle="dropdown"
          ></button>
          <ul class="dropdown-menu">
            <li>
              <a href="/delete-post/{{post.id}}" class="dropdown-item"
                >Delete</a
              >
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="card-body">
      <div class="card-text">{{post.text}}</div>
      <br />
      <div class="collapse" id="comments-{{post.id}}">
        <div class="card">
          <div class="card-body" id="comments-expanded-{{post.id}}">
            {% for comment in post.comments %}
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <a
                  href="/posts/{{comment.user.username}}"
                  style="text-decoration: none; color: inherit"
                >
                  {{comment.user.username}} </a
                >: {{comment.text}}
              </div>
              <div>
                <small class="text-muted"> {{comment.date_created}}</small>
                {% if user.id == comment.author or user.id == post.author %}
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-success dropdown-toggle"
                    data-bs-toggle="dropdown"
                  ></button>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        href="/delete-comment/{{comment.id}}"
                        class="dropdown-item"
                        >Delete</a
                      >
                    </li>
                  </ul>
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <p class="card-text">
        {% if post.comments|length > 0 %}
        <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
          <small>View {{post.comments|length}} Comments</small>
        </a>
        {% else %}
        <small class="text-muted">No Comments</small>
        {% endif %}
      </p>
      <form
        class="input-group mb-3"
        method="POST"
        action="/create-comment/{{post.id}}"
      >
        <input
          type="text"
          id="text"
          name="text"
          class="form-control"
          placeholder="Comment something!"
        />
        <button type="submit" class="btn btn-success">Comment</button>
      </form>
    </div>
    <div class="card-footer text-muted">{{post.date_created}}</div>
  </div>
  <br/ > {% endfor %}
</div>

{% block footer %}
<div align="center">
  <a href="/create-post"
    ><button type="button" class="btn btn-dark btn-lg">Create a Post</button></a
  >
</div>
{% endblock %} {% endblock %}
