body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
}

.city-list {
  list-style-type: none;
  padding-left: 0;
}

.city-item {
  margin-bottom: 30px;
}

.city-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.place-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.place-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  flex: 1 1 200px; /* Adjust as needed */
}
.place-item {
  list-style: none;
}
.place-list {
  list-style: none;
}
.place-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.place-description {
  color: #666;
  margin-bottom: 5px;
}

.place-ratings,
.place-distance {
  color: #888;
  margin-bottom: 5px;
}
